---
import type { GetStaticPaths } from "astro";
import { db, eq, Categories, Products } from "astro:db";

import Layout from '@layouts/Layout.astro';
import NavBar from '@components/NavBarCategories.astro';
import ProductCard from '@components/ProductCard.astro';

export const getStaticPaths = (async () => {
    const categories = await db.select().from(Categories);
    const pages = categories.map(({id, label})=> {
        return {params: {id}, props: {name: label}};
    });

    return [...pages];
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {name} = Astro.props;

const products = await db.select().from(Products).where(eq(Products.category, id));
---

<Layout>
    <header class="pt-14">
        <h1 class="text-3xl font-bold text-neutral-700">Nuestras delicias de <span class="italic">Annie Gil</span></h1>
    </header>

    <NavBar />

    <section class="grid grid-cols-2 gap-y-5 gap-x-3">
        {
            products.map(async (product)=> {
                const others = product.others as string;
                const data = await JSON.parse(others)

                return (
                    <ProductCard 
                        type={name}
                        id={product.id}
                        name={product.name} 
                        price={product.price}
                        size={data.size.label}
                        serves={data.serves}/>
                );
            })
        }
    </section>
</Layout>